main {
    text-align: center;
    background-color: gainsboro;
    padding: 15px;
    margin: 30px 8px;
    border-radius: 5px;
}

h1 {
    margin-bottom: 0;
    font-size: 2.75em;
}

#img-div {
   padding: 50px 50px 10px 50px;
   background-color: white;
}

img {
    display: block;
}

#image {
    max-width: 100%;
}

#img-caption {
    margin: 15px 0 5px 0;
}

h3 {
    margin: 50px 0;
    font-size: 1.17em;
    text-align: center;
}

ul {
    margin: 0 auto 50px auto;
    max-width: 550px;
}

li {
    text-align: left;
    margin: 16px;
    font-size: 1.2em;
}